@import "../../styles/variables";

.carousel-modal {
    left: 20%;
    padding-bottom: .5rem;
    position: fixed;
    top: 1%;

    .carousel-image {
        height: 97vh;
        width: 100vh;
    }

    .carousel-caption {
        align-items: center;
        color: $smokey-black;
        display: flex;
        font-family: $font-title;
        font-weight: 700;
        justify-content: center;
        letter-spacing: .1rem;

        h3 {
            background-color: $sage-faded;
            border-radius: 120%;
            padding: 1rem;
            width: 70%;
        }
    }
}