@import "../../styles/variables";

.carousel-modal {
    height: 100vh;
    top: -2%;

    .modal-title {
        font-family: $font-title;
        font-weight: 600;
        letter-spacing: .2rem;
    }
}

.carousel-in-modal {
    align-items: center;
    display: flex;
    justify-items: center;

    .carousel-control-next,
    .carousel-control-prev {
        cursor: pointer;
    }

    .carousel-image {
        height: 85vh;
        object-fit: contain;
        overflow: hidden;
        width: 100vh;
    }
}

@media only screen and (max-width: 780px) {

    .carousel-modal {
        height: 97vh;
        top: 1%;
    }

    .carousel-image {
        object-fit: scale-down !important;
        width: 100% !important;
    }
}