@import '../../styles/_variables.scss';

.navbar-contents {
    background-color: transparent;
    justify-content: right;
    
    .main-link {
        color: $sage;
        font-size: 18px;
        font-weight: 250;
        letter-spacing: .2rem;
        text-transform: uppercase;
        
        a {
            color: $sage;
        }

        &:hover {
            color: $hookers-green;
        }
    }

    .child-link {
        
        &:hover {
            background-color: $sage;
            color: $light-beige;
            font-weight: 500;
        }
    }
}