@import '../../styles/variables';

.about-container {
  height: 100%;
}

.about-me {
  text-align: center;


  .about-title {
    color: $hookers-green;
    font-family: $font-title;
    margin: 2rem 0 3rem 0;
  }

  .about-desc {
    display: flex;
    font-family: $font-body;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 40px;
    margin-top: 250px;
  }

  img {

    @include image-hover;
  }
}

@media only screen and (max-width: 768px) {

  .about-me {
    margin-top: 0;


    .about-desc {
      margin: 0 1rem 3rem 1rem;
    }

    img {
      max-height: 95%;
    }
  }
}