@import '../../styles/_variables.scss';

.footer {
    color: $font-color;
    font-family: $font-body;
    font-weight: 500;
    letter-spacing: .1rem;
    margin-left: 1rem;
    padding: 2rem;
    text-align: left;
}