@import "../../styles/variables";

.carouselModal {
    height: 100vh;
    top: -2%;

    .modalTitle {
        font-family: $font-title;
        font-weight: 600;
        letter-spacing: .2rem;
    }
}

.carousel {
    align-items: center;
    display: flex;
    justify-items: center;

    .carousel-control-next,
    .carousel-control-prev {
        cursor: pointer;
    }

    .carouselImage {
        width: 50vw;
        height: 90vh;
        object-fit: contain;
        overflow: hidden;
        // width: 100%;
        margin: auto;
        display: flex;
    }

    .carousel-video {
        height: 85vh;
        margin-left: 125px;
    }
}

@media only screen and (max-width: 780px) {

    .carouselModal {
        height: 97vh;
        top: 1%;
    }

    .carouselImage {
        object-fit: scale-down !important;
    }

    .carousel-video {
        height: unset !important;
        margin-left: unset !important;
    }
}