@import '../../styles/_variables';

.contact-me {
    height: 100vh;
    margin-top: 4rem;
    text-align: center;

    p,
    span,
    a {
        font-family: $font-body;
        letter-spacing: 2px;
    }

    .contact-title {
        color: $hookers-green;
        font-family: $font-title;
        text-align: center;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-me {
        margin-top: 0;
        height: 50vh;
    }
}