@import '../../styles/_variables.scss';

.contact-me {
    height: 100vh;
    margin-top: 4rem;
    text-align: center;
    
    .contact-title {
        color: $hookers-green;
        font-family: $font-title;
        margin-bottom: 35px;
        text-align: center;
    }

    .contact-desc,
    .contact-link {
        color: $font-color;
        font-family: $font-body;
        letter-spacing: 2px;
    }

    .contact-link {
        font-family: $font-title;
        margin: 3rem;
        
        p {
            margin-top: .8rem;
        }

        &:hover {
            color: $hookers-green;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 768px) {
    
    .contact-me {
        height: 53vh;
        margin-top: 0;
    }

    .contact-link {
        
        p {
            font-size: 30px;
            margin-top: 3rem !important;
        }

        .fa-instagram {
            display: flex;
            flex-direction: column;
            font-size: 80px;
            margin-top: 80px;
        }
    }
}