@import '../../styles/_variables.scss';

.contact-me {
    height: 100vh;
    margin-top: 4rem;
    text-align: center;

    .contact-title {
        color: $hookers-green;
        font-family: $font-title;
        text-align: center;
        margin-bottom: 35px;
    }

    .contact-desc,
    .contact-link {
        color: $font-color;
        font-family: $font-body;
        letter-spacing: 2px;
    }

    .contact-link {
        &:hover {
            color: $hookers-green;
            cursor: pointer;
        }
    }
}

@media only screen and (max-width: 768px) {
    .contact-me {
        margin-top: 0;
        height: 45vh;
    }

    .contact-link {
        .fa-instagram {
            font-size: 80px;
            display: flex;
            flex-direction: column;
            margin-top: 80px;
        }
    }
}