@import '../../styles/_variables.scss';

.art-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
    margin: 3rem 0;

    img {
        @include image-hover;
        display: flex;
        align-self: center;
        max-height: 975px;
    }
}

@media only screen and (max-width: 768px) {
    .art-gallery {
        display: grid;
        grid-template-columns: 1fr;
        padding: 1em;
        grid-row-gap: 30px;
        margin: 2rem;
    }
}