@import '../../styles/_variables.scss';

.art-gallery-container {
    cursor: pointer;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto;
    margin: 3rem 0;

    img {
        align-self: center;
        display: flex;
        max-height: 975px;

        @include image-hover;
    }
}

@media only screen and (max-width: 768px) {

    .art-gallery-container {
        display: grid;
        grid-row-gap: 30px;
        grid-template-columns: 1fr;
        margin: .5rem;
        padding: .5rem;
    }
}